
:root {
    --primary-color: #0561f3;
    --primary-hover-color: #034fd1;
    --primary-active-color: #0227ae;
    --accent-color: #17bcf1;
    --primary-soft-color: #eef6ff;
    --hover-color: #f3f8ff;
    --border-color: #d8e7f7;
    --text-color: #172033;
    --text-color-secondary: #5f6f85;
    --sidebar-width: 280px;
    --background-color: white;
}
